body {
  background-image: url("images/trees.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  color: #181004;
}

.container{
  display: flex;
  justify-content: center;
}

.jumbotron {
  background: #014056;
  width: 20%;
  opacity: .7;
  text-align: center;
  margin: 2px;
  border-style: solid;
  border-color: #0E3442;
}


.jumbotron .title {
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  font-size: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.jumbotron .weather {
  color: #FFFFFF;
  font-family: 'Abel', sans-serif;
}


p.cam {
  font-family: 'Abel', sans-serif;
  padding-top: 5px;
  cursor: cell;
  color: #FFFFFF;
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

a:link {
  color: #C0C8CB;
}

a:visited {
    color: 	#FFEBCD;
}

a:hover {
    color: orange;
    text-decoration: underline;
}

 footer {
     padding-top: 40px;
     font-size: 40px;
     font-family: 'Raleway', sans-serif;
     text-align: center;
   }
