body {
  background-image: url("images/sunrise.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
 header {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: 'Abel';
  font-style: bold;
  font-size: 50px;
  color: #2D2E4C;
}
.container {
  display: flex;
  flex-flow: nowrap;
}
.jumbotron {
  background: #222;
  width: 20%;
  opacity: .7;
  text-align: center;
  margin: 2px;
  border-style: solid;
  border-color: #181004;
}
.jumbotron .title {
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  font-size: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.jumbotron .weather {
  color: #FFFFFF;
  font-family: 'Abel', sans-serif;
}
p.cam {
  font-family: 'Abel', sans-serif;
  padding-top: 5px;
  cursor: cell;
  color: #FFFFFF;
  font-size: 30px;
}
h2 {
  font-size: 25px;

}
a:link {
  color: #FFEBCD;
}
a:visited {
    color: 	#D0B393;
}
a:hover {
    color: orange;
}
footer {
   padding-top: 40px;
   font-size: 40px;
   font-family: 'Raleway', sans-serif;
   text-align: center;
}
