body {
  background-image: url("images/trees.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

 header {
  display: block;
  height: 100px;
}

.container{
  display: flex;
  flex-flow: ;
}

.jumbotron {
  background: #222;
  width: 20%;
  opacity: .7;
  text-align: center;
  margin: 2px;
}


.jumbotron .title {
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  font-size: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.jumbotron .weather {
  color: #FFFFFF;
  font-family: 'Abel', sans-serif;
}


p.temp-type {
  font-family: 'Abel', sans-serif;
  padding-top: 5px;
  cursor: cell;
  color: #FFFFFF;
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

a:visited {
    color: 	#FFEBCD;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
}

 footer {
  display: block;
}



/*@media screen and (max-width: 700px) {
h2 {
font-size: 20px;
}
}*/
/*@media screen and (max-width:700px) {
  h3 {
    font-size: 15px;
  }
}*/
